<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Auth Refresher</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/logout">Logout</a>
        <a href="/profile">Your Profile</a>
    </nav>
    <%- body %> 
</body>
</html>